{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_entities/view/map
    Map-focused detail view: the location map (OpenStreetMap, geocoded from the address) is the hero.

    Example context (json):
    {
        "name": "Room A.101",
        "haspicture": false,
        "haspdf": false,
        "hasmap": true,
        "mapdata": {
            "osmembedurl": "https://www.openstreetmap.org/export/embed.html",
            "osmlink": "https://www.openstreetmap.org/"
        },
        "hasleftsidebar": false,
        "hasrightsidebar": false
    }
}}
<div class="container-fluid shadow-bottom pb-3" data-viewtemplate="map">
    <div class="row">
        <div class="col-md-2">
            {{#haspicture}}
                <img class="img-fluid img-thumbnail" src="{{picture}}" alt="{{name}}">
            {{/haspicture}}
            {{#haspdf}}
                <iframe class="img-fluid img-thumbnail" src="{{picture}}"></iframe>
            {{/haspdf}}
        </div>
        <div class="col-md-10">
            {{> local_entities/view/parts/title }}
        </div>
    </div>
</div>
<div class="row pt-3" style="background-color:#eee;">
    {{> local_entities/view/parts/sidebar_left }}
    <div class="col-xl-6 col-lg-12 flex-fill mb-3" data-area="center">
        <div class="card shadow mb-3">
            <div class="card-body">
                <h2 class="mb-4">{{#str}}viewtemplate_map, local_entities{{/str}}</h2>
                {{#hasmap}}
                    {{> local_entities/view/parts/map }}
                {{/hasmap}}
                {{^hasmap}}
                    <p class="text-muted">{{#str}}nomapavailable, local_entities{{/str}}</p>
                {{/hasmap}}
            </div>
        </div>
    </div>
    {{> local_entities/view/parts/sidebar_right }}
</div>
