#page-local-entities-index #page-header {
    display: none;
}
#page-local-entities-index .card {
    border: 1px solid rgba(0, 0, 0, 0.125);
}
#page-local-entities-index .card img {
    border-radius: calc(0.5rem - 1px) 0 0;
}
#page-local-entities-index #page-content {
    margin-top: 30px;
}
#page-local-entities-index .addresslist,
.contactlist,
#page-local-entities-index .card-body .fa {
    font-style: italic;
    color: #333;
}
#page-local-entities-index .card-header h3 {
    letter-spacing: 3px;
}
#page-local-entities-index .headerpill {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 22px;
    color: white;
}
#page-local-entities-index .switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 20px;
    right: 5px;
    top: 5px;
}
#page-local-entities-index .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
#page-local-entities-index .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
#page-local-entities-index .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
#page-local-entities-index input:checked + .slider {
    background-color: green;
}
#page-local-entities-index input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}
#page-local-entities-index input:checked + .slider:before {
    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(39px);
}
/* Rounded sliders */
#page-local-entities-index .slider.round {
    border-radius: 34px;
}
#page-local-entities-index .slider.round:before {
    border-radius: 50%;
}
#page-local-entities-index #entitiesrelation-form ul [aria-expanded="false"]:before {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    left: 5px;
}
#page-local-entities-index #entitiesrelation-form ul li span:not(.btn) {
    padding-left: 20px;
}
#page-local-entities-index #entitiesrelation-form .btn {
    line-height: 1.3;
    padding: 0px 10px;
}
#page-local-entities-index #entitiesrelation-form ul [aria-expanded="true"]:before {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    left: 5px;
}
#page-local-entities-index #entitiesrelation-form ul li {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
#page-local-entities-index #local-entities-container .btn-entities {
    padding: 2px;
}
