{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_mooduell/viewpage
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
        "categories" : [
            [
               {
                  "catid":"7",
                  "contextid":"1",
                  "catname":"MooDuell Pr\u00e4sentation",
                  "courseid":"50"
               }
            ]
        ]
    }
}}
<style>


</style>
<hr>
<h3><b>Latest added entities</b></h3>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header p-0">
      <a alt="test" href="#">
        <div style=" background-color: #207abb; height:360px;background-image: url()">
        </div>
    </a>
    </div>
     <div class="card-body">
          <h4>
            <span class="" style="background-color: #207abb"></span>
            <a href="https://tw.cobot.me/admin/entities/276aa87ed7acb01a47f075c0d5075452/edit">test</a>
          </h4><p>
          <b>Tennisplatz</b><br>  
          Rustgasse 27<br>
          1150	WIEN<br>
              <i class="fa fa-clock-o"></i> mo - fr 9am - 5pm
            </p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <span><b>meta-key:</b> meta-value</span><br>
            <span><b>meta-key:</b> meta-value</span><br>
            <span><b>meta-key:</b> meta-value</span><br>
            <span><b>meta-key:</b> meta-value</span><br>
            <span><b>meta-key:</b> meta-value</span><br>
     </div>
        <div class="card-footer d-flex">
          <a class="btn btn--plain btn--smaller btn--primary btn_edit" title="Ressource bearbeiten" href="#"><i class="fa fa-edit"></i> Bearbeiten</a>
            <div class="d-block ml-auto">
              <a data-confirm="Diese Ressource wirklich löschen?" class="btn btn--plain btn--smaller btn--primary btn_x" title="Ressource löschen" rel="nofollow" data-method="delete" href="#"><i class="fa fa-trash"></i> Löschen</a>
              <a class="btn btn--plain btn--smaller btn--primary btn_edit" title="Ressource bearbeiten" href="#"><i class="fa fa-times-circle"></i> Schließen</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3">
  <div class="card">
    <div class="card-header p-0">
    <a alt="test" href="#">
      <div style=" background-color: #207abb; height:360px;background-image: url()">
      </div>
  </a>
  </div>
   <div class="card-body">
        <h4>
          <span class="" style="background-color: #207abb"></span>
          <a href="https://tw.cobot.me/admin/entities/276aa87ed7acb01a47f075c0d5075452/edit">test</a>
        </h4><p>
        <b>Schwimmbad</b><br>  
        Floridusgasse 27<br>
        1120	WIEN<br>
            <i class="fa fa-clock-o"></i> mo - fr 9am - 5pm
          </p>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          <span><b>meta-key:</b> meta-value</span><br>
          <span><b>meta-key:</b> meta-value</span><br>
          <span><b>meta-key:</b> meta-value</span><br>
          <span><b>meta-key:</b> meta-value</span><br>
          <span><b>meta-key:</b> meta-value</span><br>
   </div>
      <div class="card-footer d-flex">
        <a class="btn btn--plain btn--smaller btn--primary btn_edit" title="Ressource bearbeiten" href="#"><i class="fa fa-edit"></i> Bearbeiten</a>
          <div class="d-block ml-auto">
            <a data-confirm="Diese Ressource wirklich löschen?" class="btn btn--plain btn--smaller btn--primary btn_x" title="Ressource löschen" rel="nofollow" data-method="delete" href="#"><i class="fa fa-trash"></i> Löschen</a>
            <a class="btn btn--plain btn--smaller btn--primary btn_edit" title="Ressource bearbeiten" href="#"><i class="fa fa-times-circle"></i> Schließen</a>
          </div>
      </div>
  </div>
  
  </div>
