{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_entities/form-entities-selector-suggestion

    Moodle template for the list of valid options in an autocomplate form element.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * name string Entity name
    * parentname string Full ancestor path (root / … / parent), empty for root entities
    * depth int Nesting depth (0 for root); indents the name so the tree stays readable

    Example context (json):
    {
        "name": "Raumbereich 1",
        "parentname": "Hauptgebäude / Seminarraum 1",
        "depth": 2
    }
}}
{{#name}}
<span>
    <span {{#depth}}style="padding-left: {{depth}}em;"{{/depth}}>{{name}}</span>
    <span><small class="text-muted">{{parentname}}</small></span>
</span>
{{/name}}
