{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_entities
    Template which defines a entities view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
    }
}}

<div class="container-fluid shadow-bottom pb-3">
    <div class="row">
        <div class="col-md-2">
            {{#haspicture}}
                <img class="img-fluid img-thumbnail" src="{{picture}}">
            {{/haspicture}}
        </div>
        <div class="col-md-10">
            {{#parent}}
                <h5 class="">
                    <a class="text-muted" href="{{link}}">{{name}}</a>
                </h5>
            {{/parent}}
            <h1 class=" ">{{#name}}{{.}}{{/name}}</h1>
            <span>
                {{{description}}}
            </span>
            {{#canedit}}
                <div class="text-left ">
                    <a class="btn btn-sm btn-primary" title="Ressource bearbeiten"
                       href="{{editurl}}"><i
                            class="fa fa-edit" aria-hidden="true"></i>&nbsp;{{#str}}edit{{/str}}</a>
                    <button class="btn btn-sm btn-danger ml-auto"
                            title="{{#str}}delete{{/str}}" rel="nofollow" data-method="delete"
                            data-target="#deleteModal-{{id}}" data-toggle="modal"><i
                            class="fa fa-trash"></i>&nbsp;{{#str}}delete{{/str}}</button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal-{{id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{#str}}
                                    deleteentity , local_entities{{/str}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>{{#str}}deleteentityconfirm , local_entities{{/str}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        id="close-modal">{{#str}}cancel{{/str}}</button>
                                <a href="{{delurl}}" rel="nofollow" class="btn btn-danger">{{#str}}
                                    delete{{/str}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/canedit}}
        </div>
    </div>
</div>
<div class="row pt-3" style="background-color:#eee;">
    {{#hasleftsidebar}}
        <div class="col-xl-3 col-lg-12">
            {{#hasmetadata}}
                <div class=" card shadow mb-3">
                    <div class="card-body">
                        <h2 class="card-title mb-4">{{metacategory}}</h2>
                        <div class="row row-cols-xl-1 card-text ml-2">
                            {{#metadata}}
                                <div class="col-auto d-inline-flex mb-3 ">
                                    <div class=" mr-2">
                                        <i class="fa fa-info-circle fa-fw icon-uxs text-muted"></i>
                                    </div>
                                    <div class=" ">
                                        <div class="bold">{{key}}</div>
                                        <div class="text-muted">{{{value}}}</div>
                                    </div>
                                </div>
                            {{/metadata}}
                        </div>
                    </div>
                </div>
            {{/hasmetadata}}
            {{#hasaffiliation}}
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{#str}} affiliated, local_entities {{/str}}</h2>
                        <ul class="list-group list-group-flush card-text">
                            {{#affiliation}}
                                <li class="list-group-item shadow-none border-0">
                                    <a href="{{link}}">{{name}}</a>
                                    {{#canedit}}
                                        <a class="btn btn-link pull-right pt-0 pb-0" title="Ressource bearbeiten"
                                           href="{{editurl}}">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                    {{/canedit}}
                                </li>
                            {{/affiliation}}
                        </ul>
                    </div>
                </div>
            {{/hasaffiliation}}
        </div>
    {{/hasleftsidebar}}
    <div class="col-xl-auto col-lg-12 flex-fill">
        <div class=" card shadow mb-3">
            <div class="card-body">
                <div>
                    <h2 class="d-inline-block mr-3 mb-4">{{#str}}calendar , local_entities{{/str}} </h2>
                    {{#showcalendar}}
                        <a href="{{calendarurl}}" target="_blank"><i class="fa fa-external-link"></i> {{#str}}
                            opencalendarfullsize , local_entities{{/str}}</a>{{/showcalendar}}
                </div>
                {{#showcalendar}}
                    <div id="entity-calendar"></div>
                {{/showcalendar}}
                {{^showcalendar}}
                    <a href="{{calendarurl}}" class="btn btn-outline-info btn-block" target="_blank"><i
                            class="fa fa-external-link"></i> {{#str}}opencalendar , local_entities{{/str}}</a>
                {{/showcalendar}}

            </div>
        </div>
    </div>
    {{#hasrightsidebar}}
        <div class="col-xl-3 col-lg-12">
            {{#hascontacts}}
                <div class=" card shadow mb-3">
                    <div class="card-body">
                        <h2 class="card-title mb-4">{{#str}}contacts , local_entities{{/str}}</h2>
                        <div class="row row-cols-xl-1 card-text ml-2 ">
                            {{#contactscleaned}}
                                <div class="col-auto d-inline-flex mb-3 ">
                                    <div class="mr-2">
                                        <i class="fa fa-id-card fa-fw icon-uxs text-muted"></i>
                                    </div>
                                    <div class=" ">
                                        <div class="bold">{{givenname}} {{surname}}</div>
                                        <div class="text-muted"><a href="mailto:{{mail}}">{{mail}}</a></div>
                                    </div>
                                </div>
                            {{/contactscleaned}}
                        </div>
                    </div>
                </div>
            {{/hascontacts}}
            {{#hasaddress}}
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title mb-4">{{#str}}address , local_entities{{/str}}</h2>
                        <div class="row row-cols-xl-1 card-text">
                            {{#addresscleaned}}
                                <div class="col-auto d-inline-flex mb-3 ml-2">
                                    <div class="mr-2">
                                        <i class="fa fa-map-marker fa-fw icon-uxs text-muted"></i>
                                    </div>
                                    <div>
                                        <div class="bold">{{streetname}} {{streetnumber}}</div>
                                        <div class="text-muted">{{postcode}} {{city}}</div>
                                    </div>
                                </div>
                                {{#mapembed}}
                                    <div class="col-auto mb-3">
                                        {{{.}}}
                                        {{#maplink}}

                                            <a href="{{maplink}}" target="_blank">
                                                {{maplink}}
                                            </a>

                                        {{/maplink}}
                                    </div>
                                {{/mapembed}}
                            {{/addresscleaned}}
                        </div>
                    </div>
                </div>
            {{/hasaddress}}
        </div>
    {{/hasrightsidebar}}
</div>

{{#showcalendar}}
    {{#js}}
        require(['local_entities/fullcalendardata'], function(calendar) {
        calendar.init("{{id}}", "de");
        });
    {{/js}}
{{/showcalendar}}