{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_mooduell/viewpage
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
         "id": "5",
    "name": "asdasfd",
    "description": "asd",
    "type": "category",
    "timecreated": "1638390631",
    "timemodified": "1638390629",
    "openentity": "0",
    "createdby": "2",
    "picture": null,
    "parentid": "0",
    "sortorder": null,
    "address": [
        null
    ],
    "contacts": [
        null
    ]
    }
}}
<style>
  #page-header {
      display:none;
  }
  #page-content {
      margin-top: 30px;
  }
  .addresslist, .contactlist,.card-body .fa-map-marker,.card-body .fa-id-card-o {
    font-style:italic;
    color: #333
  }
  .card-header h3 {
    letter-spacing: 3px;
  }
  .headerpill {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 22px;
    color: white;
  }
 
    .switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 20px;
    right: 5px;
    top: 5px;
    }


    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }


    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--danger);
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: green;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(39px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }
</style>

<div class="card" style="max-width: 900px">
<div class="card-header p-0 m-0" style="min-height:60px; background: #fff">
    <div class="headerpill badge badge-info">{{type}}</div>
    <label class="switch headerswitch">
        <input type="checkbox" {{isactive}}>
        <span class="slider round"></span>
    </label>
    {{#haspicture}}
        <img src="{{picture}}" class="w-100" alt="{{name}}-picture">
    {{/haspicture}}
</div>
<div class="card-header">
    <h3><b>{{name}}</b></h3>
</div>
<div class="card-body">
    {{{description}}}
    <hr>
    {{#hasaddress}}
    <div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
        <i class="fa fa-map-marker fa-2x"></i>
            <ul class="addresslist list-unstyled pl-4 py-4">
                {{#addresscleaned}}
                <li>{{city}}, {{postcode}}</li>
                <li>{{streetname}} {{streetnumber}}</li>
                {{/addresscleaned}}
            </ul>
        </div>
        <div class="col-md-6">
        <i class="fa fa-id-card-o fa-2x"></i>
            <ul class="contactlist list-unstyled pl-4 py-4">
                {{#contactscleaned}}
                <li>{{givenname}} {{surname}}</li>
                <li>{{mail}}</li>
                {{/contactscleaned}}
            </ul>
        </div>
        
    </div>
    </div>
    <hr>
    {{/hasaddress}}
    <div class="container-fluid">
        
    {{#customdata}}   
    <h5>Additonal Info</h5>
    <div class="row">
        <div class="col">
            {{{customdata}}}
        </div>
    </div>
    {{/customdata}}   

    {{#children}}   
    <div class="row">
        <div class="col">
            <div class="pull-right">
            {{{children}}}
        </div>
        </div>
    </div>
    {{/children}}   
    </div>

</div>

<div class="card-footer d-flex">
    <a class="btn" title="Ressource bearbeiten" href="{{editurl}}"><i class="fa fa-edit"></i> Bearbeiten</a>
      <div class="d-block ml-auto">
        <a data-confirm="Diese Ressource wirklich löschen?" class="btn" title="Ressource löschen" rel="nofollow" data-method="delete" href="{{delurl}}"><i class="fa fa-trash"></i> Löschen</a>
      </div>
  </div>
</div>

