on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: Wunderbyte-GmbH/catalyst-moodle-workflows/.github/workflows/ci.yml@main
    with:
      disable_release: true
      # If you need to disable specific tests
      # disable_phpcpd: true
      # disable_mustache: true
      # disable_phpunit: true
      # disable_grunt: true
      # disable_phpdoc: true
      # disable_phpcs: true
      # disable_phplint: true
      # disable_ci_validate: true
      enable_phpmd: true
      codechecker_max_warnings: 0
